#settings {

    /* max-width: 300px; */
    margin-left: auto;
    margin-right: auto;
}

#settings .main-settings-box {
    background-color: #222;
    margin-bottom: 40px;
    padding: 20px;
    border-radius: 10px;


}

#settings .obs-link-box {
    background-color: #222;
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
    margin: 0 auto;
}

#settings .obs-link-box .setting input {
    max-width: none;
    width: 100%;
}

#settings .obs-link-box .setting input:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

#settings .obs-link-box .setting .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 10px;
}

#settings .obs-link-box .copy-icon {
    width: 24px;
    cursor: pointer;
}

#settings .obs-link-box .copy-icon:hover {
    opacity: 0.7;
    transform: scale(1.1);
}

#settings .settings-items-wrapper {
    margin-bottom: 30px;
    gap: 20px;
}

@media all and (max-width: 550px) {
    #settings .settings-items-wrapper {
        display: flex;
        flex-direction: column;
    }
}

#settings .setting {
    margin-bottom: 20px;
}

#settings .setting .title {
    margin-bottom: 7px;
}

#settings .setting input {
    width: 100%;
    max-width: 300px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #444;
    background: #333;
    color: #FFF;
    font-size: 18px;
}

#settings .setting input:focus {
    outline: 2px solid #777;
}

#settings .setting input:invalid {
    outline: 2px solid rgba(255, 0, 0, 0.5);
}

#settings .setting:last-child {
    margin-bottom: 0;
}

#settings .setting input[type="checkbox"] {
    accent-color: #055c05;
    width: 2em;
    height: 2em;
}

#settings .checkbox-container {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: flex-end;
    gap: 15px;
}

#settings .checkbox-container .title {
    margin-bottom: 0;
    cursor: pointer;
}

#settings button {
    margin-top: 2px;
}

#settings .avatar-container {
    position: relative;
    display: flex;
    width: 100%;
}

#settings .avatar {
    position: absolute;
    display: none;
    right: 5px;
    top: 5px;
    border-radius: 5px;
    width: 32px;
    height: 32px;
}