@import url("reset.css");

/* core */

body {
    background: #111;
    color: #FFF;
    font-size: 20px;
    font-family: "Google Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "GRAD" 0;
}

.page-width {
    max-width: 800px;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
}

nav {
    font-size: 40px;
}

nav ul {
    display: flex;
    gap: 20px;
}

.logo {
    font-size: 36px;
}

.winner {
    font-size: 40px;
}

.guessing {
    display: flex;
    gap: 20px;
}

.guessing>* {
    flex: 1;
}

.guessing .msg {
    border: 1px solid #DDD;
    margin-bottom: 10px;
    border-radius: 10px;
    position: relative;
}

.guessing .word-and-distance {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.guessing .word-and-distance {}

.guessing .msg {
    /* background-color: oklch(40% 0.12 240); */
    background-color: lab(16.1051% -1.18239 -11.7533);
}

.guessing .bg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
}

.guessing .name {
    position: absolute;
    top: 0;
    left: 100%;
    height: 100%;
}

.guessing .last-words .name {
    display: none;
}